<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:config proxy-target-class="true">
        <!--使用<aop:aspect>元素标签定义切面, 其内部可以定义多个增强-->
        <aop:aspect ref="adviceMethods">
            <aop:after method="afterExecution" pointcut="execution(* com.aop.learn.service.*.*(..))"/>
        </aop:aspect>
    </aop:config>

    <!--adviceMethods bean, 该bean是增强方法所在的类-->
    <bean id="adviceMethods" class="com.aop.learn.advice.UserAdvice"/>
    <bean id="userService" class="com.aop.learn.service.impl.UserServiceImpl"/>
</beans>